
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}


/* ===================== */
/* HEADER */
/* ===================== */

.site-header {
  background: white;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #b9b9b9;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 12px;
  font-family: "Times New Roman", Times, serif;
}

/* TÍTULO */
.site-title {
  font-size: 20px;
  font-weight: normal;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}

/* NAV */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  position: relative;
}

.mobile-menu-header {
    display: none;
  }

/* HOVER */
.nav-links a:hover {
  color: #000;
}

/* LINK ACTIVO (página actual) */
.nav-links a.active {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
}

/* MOVIL */
@media (max-width: 768px) {
  
  .header-content {
    padding: 18px 0; /* menos alto en móvil */
  }
  /* Mostrar hamburguesa */
  .menu-toggle {
    display: block;
  }
  
  .mobile-menu-header {
    display: flex;
  }

  .mobile-menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  
  .mobile-logo {
    width: 120px;
    height: auto;
  }


  .close-menu {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
  }


  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100vh;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 20px;
    transition: left 0.3s ease;
  }

  
/* MENÚ visible */
  .nav-links.open {
    left: 0;
  }

  .nav-links a {
    margin-left: 0;
    font-size: 18px;
  }

}


/* ===================== */
/* FOOTER */
/* ===================== */

.site-footer {
  font-family: "Times New Roman", Times, serif;
  background: #f2f2f2;
  padding: 30px 0;
  text-align: center;
  color: #000;
  margin: 0;
}

.footer-content {
  text-align: center;
  color: #000;
  font-size: 14px;
}
